.main{
    background-color: #fafaff;

    .overview{
        margin-left: 10px;
    }
}

ul li{
    display: block;
}

ul li span {
    width: 100px;
    display: inline-block;
}

.payment{
    margin-top:10px;
}