#rhyme .boom{
    background-color: #c7c9ff;
}

.btn-full {
  background-color: white;
  border: 1px solid;
  color: white;
  border-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

  cursor: pointer;
}
.show-in{
    color: #a5a8ff;
}